{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succsess</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
    <div class="container" style="flex-direction: column;" id="s1">
    <h1>You Query Successfuly Submited </h1>
    {% comment %} <input type="button" value="Send" class="submit-btn" onclicked='clicked()'> {% endcomment %}
    <button class="submit-btn" id="b1">Send again</button>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>